@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root{
    --color1: #ffffff;
    --color2: #92400E;
    --color3: #B45309;
    --color4: #D97706;
    --color5: #FEF3C7;
    --color6: #FDE68A;
    --color7: #FFF8EC;
}

*{
    font-family: "Geist", sans-serif;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: var(--color7);
}

header{
    background-color: var(--color1);
    text-align: center;
    padding: 20px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: solid 2px var(--color6);
}

#title > h1{
    color: var(--color2);
    font-size: 2.5em;
    margin-bottom: 10px;
}

#title > p{
    color: var(--color4);
    font-size: 1.3em;
}

main{
    display: flex;
    background-color: var(--color7);
    max-width: 880px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;

}

#product{
    border: solid 2px var(--color6);
    background-color: var(--color1);
    border-radius: 10px;
    min-height: 520px;
    max-width: 400px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

#img{
    padding: 5px;
}

#img > img{
    width: 100%;
    border-radius: 8px;
}

#descAlfajor{
    margin: 18px 0px;
}

#descAlfajor > h2{
    color: var(--color2);
    font-size: 1.8em;
}

#descAlfajor > p{
    color: #444444;
    font-size: 1.2em;
}

#price{
    font-size: 2em;
    color: var(--color3);
    font-weight: 800;
    margin-bottom: 20px;
}

#observation{
    font-size: 1.2em;
    color: var(--color4)
}

#order{
    border: solid 2px var(--color6);
    background-color: var(--color1);
    border-radius: 10px;
    min-height: 520px;
    max-width: 400px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 20px;
}

#headerOrder{
    margin-bottom: 30px;
    padding: 5px;
}

#headerOrder > h2{
    color: var(--color2);
    font-size: 1.8em;
}

#headerOrder > p{
    color: #444444;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.orderArea{
    margin-bottom: 20px;
    width: 100%;
    padding: 5px;
}

.orderArea > label{
    display: block;
    color: var(--color3);
    font-size: 1.1em;
    font-weight: 600;
}

.orderArea > input{
    width: 92%;
    height: 30px;
    border-radius: 5px;
    border: solid 2px var(--color6);
    padding: 10px;
    font-size: 1.1em;
}

#buttonArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px 60px 0px;
    height: 50px;
}

#buttonArea > button{
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1.2em;
    font-weight: 500;
    padding: 14.2px;
    margin-bottom: 15px;
    transition: 180ms;
}

#buttonArea > button:hover{
    transform: scale(1.05);
}

#buttonArea > p{
    color: var(--color4);
    width: 60%;
    text-align: center;
}

#description{
    background-color: var(--color1);
    border: solid 2px var(--color6);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

#description > h2{
    color: var(--color2);
    text-align: center;
    margin: 10px;
    font-size: 1.4em;
}

#sectionDesc{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
}

.desc{
    max-width: 50%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    flex-grow: 1;
}

.desc > span{
    width: 40px;
    height: 40px;
    font-size: 2em;
    margin-bottom: 10px;
}

.desc > h3{
    color: var(--color3);
    margin-bottom: 10px;
}

.desc > p{
    color: var(--color3);
    font-size: 0.9em;
}

footer{
    background-color: var(--color2);
    height: 150px;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
}

footer > h2{
    color: var(--color7);
    font-weight: 600;
}

footer > p{
    color: var(--color6);
    margin-top: 10px;
    font-size: 0.9em;
}

dialog{
    min-width: 250px;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border: solid 1px var(--color2);
    border-radius: 10px;
    background-color: var(--color4);
    color: var(--color1);
}

dialog > p{
    margin-top: 2px;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

.orderPlacedMessage{
    margin-bottom: 20px;
}

#orderPlaced > h2{
    font-size: 2em;
}

#paymentOrder > h2{
    margin-bottom: 8px;
}

#paymentOrder > p{
    font-weight: 700;
}

#paymentOrder > p > span{
    font-weight: 350;
}

#paymentOrder > button{
    width: 100px;
    margin-top: 8px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color7);
    color: var(--color2);
    transition: 200ms;
}

#paymentOrder > button:hover{
    transform: scale(1.10);
    background-color: var(--color5);
}

#imgQrCodePayment{
    margin-bottom: 40px;
}

#imgQrCodePayment > img{
    width: 100%;
}

#buttonMessage{
    width: 100px;
    text-align: center;
    display: block;
    margin: 20px auto 0px;
    font-size: 1.1em;
    font-weight: 700;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color7);
    color: var(--color2);
    transition: 200ms;
}

#buttonMessage:hover{
    transform: scale(1.10);
    background-color: var(--color5);
}