@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root{
    --color1: #ffffff;
    --color2: #92400E;
    --color3: #B45309;
    --color4: #D97706;
    --color5: #FEF3C7;
    --color6: #FDE68A;
    --color7: #FFF8EC;
}

*{
    font-family: "Geist", sans-serif;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: var(--color7);
}

header{
    background-color: var(--color1);
    text-align: center;
    padding: 20px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: solid 2px var(--color6);
}

#title > h1{
    color: var(--color2);
    font-size: 2.5em;
    margin-bottom: 10px;
}

#title > p{
    color: var(--color4);
    font-size: 1.3em;
}

main{
    display: flex;
    background-color: var(--color7);
    max-width: 900px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.ordersBox{
    border: solid 2px var(--color6);
    background-color: var(--color1);
    border-radius: 10px;
    min-height: 520px;
    max-width: 400px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
}

.headerOrder{
    margin-bottom: 30px;
    padding: 5px;
    text-align: left;
}

.headerOrder > h2{
    color: var(--color2);
    font-size: 1.8em;
}

.headerOrder > p{
    color: #444444;
}

#pendingOrders{
    width: 100%;
}

#ordersDelivered{
    width: 100%;
}

.order{
    width: 90%;
    padding: 15px;
    box-sizing: border-box;
    border: solid 2px var(--color6);
    border-radius: 10px;
    margin: 0px auto 10px;
}

.order > h3{
    color: var(--color2);
    font-size: 1.8em;
    margin-bottom: 10px
}

.order > p{
    font-weight: 600;
    font-size: 1.1em;
}

.statusOrder{
    color: red;
    margin-top: 15px;
}

.buttonStatus{
    width: 90%;
    height: 30px;
    color: var(--color2);
    background-color: var(--color5);
    display: block;
    margin: 15px auto 5px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    transition: 200ms;
}

.buttonStatus:hover{
    background-color: var(--color6);
    transform: scale(1.05);
}

.buttonDelete{
    width: 90%;
    height: 30px;
    color: var(--color2);
    background-color: var(--color5);
    display: block;
    margin: 15px auto 5px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    transition: 200ms;
}

.buttonDelete:hover{
    background-color: var(--color6);
    transform: scale(1.05);
}