@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root{
    --color1: #ffffff;
    --color2: #92400E;
    --color3: #B45309;
    --color4: #D97706;
    --color5: #FEF3C7;
    --color6: #FDE68A;
    --color7: #FFF8EC;
}

*{
    font-family: "Geist", sans-serif;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: var(--color7);
}

header{
    background-color: var(--color1);
    text-align: center;
    padding: 15px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: solid 2px var(--color6);
}

#title > h1{
    color: var(--color2);
    font-size: 2.5em;
    margin-bottom: 10px;
}

#title > p{
    color: var(--color4);
    font-size: 1.3em;
}

main{
    display: flex;
    background-color: var(--color7);
    max-width: 900px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

#displayQuantity{
    border: solid 2px var(--color6);
    background-color: var(--color1);
    border-radius: 10px;
    min-height: 130px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin: 25px 40px 0px;
}

#displayQuantity > h2{
    color: var(--color2);
    text-align: center;
}

#displayQuantityNumber{
    margin: 20px 0px 10px;
    text-align: center;
    color: var(--color3);
    font-size: 2em;
    font-weight: 600;
}

#sectionOrders{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ordersBox{
    border: solid 2px var(--color6);
    background-color: var(--color1);
    border-radius: 8px;
    min-height: 520px;
    max-width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 10px;
}

.headerAll{
    margin-bottom: 30px;
    padding: 15px;
    text-align: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
}

.headerAll > h2{
    color: var(--color2);
    font-size: 1.8em;
}

.headerAll > p{
    color: #444444;
}

#pendingOrders{
    width: 100%;
}

#ordersDelivered{
    width: 100%;
}

.order{
    width: 90%;
    padding: 15px;
    box-sizing: border-box;
    border: solid 2px var(--color6);
    border-radius: 10px;
    margin: 0px auto 10px;
}

.order > h3{
    color: var(--color2);
    font-size: 1.8em;
    margin-bottom: 10px
}

.order > p{
    font-weight: 600;
    font-size: 1.1em;
}

.statusOrder{
    color: red;
    margin-top: 15px;
}

.buttonStatus{
    width: 90%;
    height: 30px;
    color: var(--color2);
    background-color: var(--color5);
    display: block;
    margin: 15px auto 5px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    transition: 200ms;
}

.buttonStatus:hover{
    background-color: var(--color6);
    transform: scale(1.05);
}

.buttonDelete{
    width: 90%;
    height: 30px;
    color: var(--color2);
    background-color: var(--color5);
    display: block;
    margin: 15px auto 5px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    transition: 200ms;
}

.buttonDelete:hover{
    background-color: var(--color6);
    transform: scale(1.05);
}

#quantityTotal{
    border: solid 2px var(--color6);
    background-color: var(--color1);
    border-radius: 10px;
    min-height: 250px;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 0px 40px 50px;
}

#quantityTotal > div{
    margin-bottom: 20px;
}

#insertQuantity{
    margin: auto;
}

#quantityInput{
    max-width: 200px;
    height: 30px;
    border-radius: 5px;
    border: solid 2px var(--color6);
    padding: 10px;
    font-size: 1.1em;
}

#buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.buttons{
    height: 50px;
    width: 180px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.01em;
    font-weight: 500;
    border: none;
    color: var(--color1);
    margin: 10px;
    transition: 200ms;
}

.buttons::after{
    content: "";
    display: block;
    padding: 2px;
    width: 90%;
    border-radius: 5px;
    margin: auto;
    background-color: var(--color1);
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.buttons:hover{
    transform: scale(1.06);
}

#buttonDefine{
    background-color: blue;
}

#buttonAdd{
    background-color: green;
}

#buttonDel{
    background-color: red;
}